* {
    outline: 1px solid #ddd-;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    transition: 0.4s;
}

.header.on {
    background: #fff;
    border-bottom: 1px solid rgba(221, 221, 221, 0.5)
}

.header .hd_wrap {
    max-width: var(--inner-size);
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;

    white-space: nowrap;
}

.header.on .hd_wrap {
    height: 80px;
    color: #333;
}

.header .hd_wrap h1 a {
    display: block;
    height: 40px;
    width: 140px;
    background: url(../images/logo-w.png) no-repeat center center/140px;
}

.header.on .hd_wrap h1 a {
    background: url(../images/logo-2.png) no-repeat center center/140px;
}

/* .header .hd_wrap img {
    height: 40px;
} */



.header .hd_wrap .gnb {
    margin-left: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
}

.header .hd_wrap .gnb>ul {
    display: flex;
    gap: 50px;
}

.header .hd_wrap .utils {
    position: relative;
    margin-left: 80px;
    font-size: 15px;
    display: flex;
}

.header .hd_wrap .utils a {
    margin-left: 20px;
    line-height: 80px;
}

.header .hd_wrap .utils a~a::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    top: 50%;
    transform: translate(-10px, 0);
    background-color: #fff;
}

.header.on .hd_wrap .utils a~a::before {
    background-color: #333;
}

.main_visual {}

.main_visual .main_visual_slide {
    position: relative;
}

.main_visual .main_visual_slide .itm {
    height: 100vh;
}


.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg)no-repeat right center/cover;
}

.main_visual .main_visual_slide .itm04 {
    background: url(../images/main_visual04.png)no-repeat right center/cover;
}


.main_visual .main_visual_slide .slg {
    position: absolute;
    left: 0;
    right: 0;
    max-width: var(--inner-size);
    margin: 0 auto;
    z-index: 999;
    top: 50%;
    transform: translate(0, -50%);

    color: #fff;
}

.main_visual .swiper-slide .slg span {
    font-size: 32px;
    line-height: 64px;
}

.main_visual .swiper-slide .slg strong {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
}

.main_visual .swiper-slide .slg p {
    font-size: 18px;
    line-height: 24px;
}

.main_visual .swiper-slide .slg button {
    margin-top: 40px;
    border: 1px solid var(--line-color);
    padding: 8px 42px;
    border-radius: 16px;
    color: #fff;
    font-size: 15px;
    transition: 0.4s;
}

.main_visual .swiper-slide .slg button:hover {
    background: #fff;
    color: #555;
    font-size: 15px;
    font-weight: 500;
}

.main_visual .swiper-slide .slg button span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-135deg);
    margin-left: 8px;
}

.main_visual .swiper-slide .slg button:hover span {
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
}

.main_visual .arrows {
    display: block;
    max-width: 100vw;
    position: absolute;
    width: 100%;
    z-index: 3;
    top: 55%;

}

.main_visual .arrows button {
    position: absolute;
    width: 40px;
    height: 40px;

    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.main_visual .arrows .arrows_left {
    transform: rotate(135deg);
    left: 150px;
}

.main_visual .arrows .arrows_right {
    transform: rotate(-45deg);
    right: 150px;

}

.main_visual .main_visual_slide .mouse_scroll {
    position: absolute;
    z-index: 4;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

.main_visual .main_visual_slide .dowm_arrow {
    margin-top: 6px;
}

.main_visual .main_visual_slide .dowm_arrow span {
    display: block;
    position: relative;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-bottom: 2px;

    margin-left: -1px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg) translateX(-50%);
}

.main_content {
    max-width: var(--inner-size);
    margin: 0 auto;
}

.main_content .box_wrap {
    display: flex;
    gap: 10px;
}

.main_content .box_wrap>* {
    flex: 1;
}

.main_content .box_wrap .search {
    flex: 2;
    position: relative;
    border: 6px solid var(--primary-color);
}

.main_content .box_wrap .search input {
    padding: 16px;
    width: 100%;
    border: 0;
}

.main_content .box_wrap .search button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    z-index: 999;
}

.main_content .box_wrap .search img {
    height: 30px;
}

.main_content .box_wrap .a_box {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    vertical-align: baseline;
    white-space: nowrap;
    color: rgb(255, 96, 0);
}

.main_content .box_wrap .a_box:hover {
    color: #fff;
    background: var(--primary-color);
}

.main_content .box_wrap .a_box:hover svg {
    stroke: #fff;
}

.main_content .box_wrap .a_box strong {
    font-size: 20px;
    font-weight: 600;
}

.main_content .tab_menu {
    display: flex;
    gap: 40px;
    margin-top: 80px;
}

.main_content .tab_menu li~li::before {
    content: "";
    width: 1px;
    height: 12px;
    background: tomato;
}

.main_content .tab_menu button {
    font-size: 20px;
    font-weight: 500;
}

.main_content .tab_menu button.on {
    color: var(--secondary-color);
}


.main_content .tab_menu li:nth-child(1) button.on {
    color: var(--secondary-color);
}

.main_content .tab_menu li:nth-child(2) button.on {
    color: var(--teriay-color);
}

.main_content .tab_menu li:nth-child(3) button.on {
    color: var(--quarternary-color);
}


.main_content .tab_content figure {
    margin: 36px 0;
    border-bottom: 1px solid #ddd;
}

.main_content .tab_content .con {
    display: none;
}

.main_content .tab_content .con.on {
    display: flex;
    gap: 30px;
    align-items: end;
}

.main_content .tab_content .con>* {
    flex: 1;
    text-align: center;
}

.main_content .tab_content span {
    padding: 4px 16px;
    border-radius: 8px;
    color: #fff;
}

.main_content .tab_content .con:nth-child(1) span {
    background: #a5d05f;
}

.main_content .tab_content .con:nth-child(2) span {
    background: #9bcfef;
}

.main_content .tab_content .con:nth-child(3) span {
    background: #ffc600;
    ;
}



.main_content .tab_content .con strong {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

}

.main_content .tab_content .con p {
    font-size: 14px;
    margin: 0;
}



.main_news .inner {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--background-color);
    overflow: hidden;
}

.main_news .inner .img_box {
    overflow: hidden;
}

.main_news .inner img {
    transform: scale(1);
    transition: 0.4s;
}

.main_news .inner img:hover {
    transform: scale(1.3);
}

.main_news .inner .title {
    text-align: right;
    margin: auto 0;
    margin-right: 40px;
}


.main_news .inner .title strong {
    font-size: 22px;
    font-weight: 500;
    display: block;
    margin-top: 24px;
    color: #333;
}

.main_news .inner .title p {
    font-size: 16px;
    margin-top: 4px;
    color: #333;
}

.main_news .inner .title a {
    display: block;
    margin-top: 16px;
    font-weight: 500;
    color: #333;
}

.main_news .inner .title a span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-135deg);
    margin-left: 8px;
}


.main_solution {
    position: relative;
    background-image: url(../images/rnd-bg.jpg);
}



.main_solution .title {
    color: #fff;
    text-align: left;
}

.main_solution .title P {
    margin-top: 24px;
}

.main_solution .inner {
    position: relative;
    color: #fff;
    backdrop-filter: blur(8px);
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.main_solution .inner .wrap {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.main_solution .inner .wrap span {
    font-size: 20px;
    font-weight: 500;
}

.main_solution .inner .wrap strong {
    font-size: 16px;
}

.main_solution .inner .wrap ol {
    margin-top: 16px;
}

.main_solution .inner .wrap ol li {
    margin-top: 8px;
}



.footer {
    background: #555;
    color: #fff;
    padding: 48px 0 56px 0;

}

.footer .ft_wrap {
    max-width: var(--inner-size);
    margin: 0 auto;
    text-align: center;
    position: relative;

}

.footer .ft_top ul {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: baseline;
}

.footer .ft_top ul li {
    position: relative;
}

.footer .ft_top ul li~li::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background: rgb(204, 204, 204, 0.5);
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
}

.footer .ft_top ul .b {
    font-size: 17px;
    font-weight: 500;

}

.footer .ft_mid ul {
    display: flex;
    gap: 48px;
    justify-content: center;
    margin-top: 24px;
}

.footer .ft_wrap address {
    margin-top: 8px;
    color: #ddd;
    font-size: 15px;
    opacity: 0.8;
}

.footer .icon_wrap a {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: #333;

    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .icon_wrap a::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -2;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: #333;
}

.footer .icon_wrap a:hover::after {
    animation: icon 1s infinite;
}

@keyframes icon {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.sub_page01 .img_box {
    height: 400px;
    background: url(../images/company.jpg)no-repeat center 20%/cover;

}